:root{
    --primary:#5E3BEE;
    --secondary: black;
}
.btn-color{
    border: 1px solid var(--primary);
    color: var(--primary);
}
.home-link{
    color: var(--primary) !important;
}
.black-color{
    color: black !important;
}